<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>.error {color: red;}</style>
    </head>
<body>
    <a href="/">All Users</a>
    <br>
    <a href="/blog">Main Blog Page</a>
    <br>
    <a href="/newpost">Add a Blog Entry</a>
    <br>
    <a href="/login">Login</a>
    <br>
    <a href="/logout">Logout</a>
    <br>
    <a href="/signup">Register</a>
    <br>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>